<div class="post">
  <h4 class="text-h4"><%= link_to "Posttt ##{index+1}", user_post_path(@user, post)%></h4>
  <p  class="post-p">
    <%= link_to post.title, user_post_path(@user, post) %>
  </p>
  <span class="reaction-count">Comments:<%= post.comments_counter %> , Likes: <%= post.likes_counter %> </span>
</div>