<div class="user">
    <div class="photo">
    <img src="<%= user.photo %>" alt="">
    </div>
    <div class ="info">
        <h2 class="username"> <%= link_to user.name, user_path(user)%></h2>
        <span class="number-posts">Number of posts: <%= user.posts_counter %> </div>
    </div>
  </div>